:root {
    --clr-bg: hsl(30, 38%, 92%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-dark-cyan: hsl(158, 36%, 37%);
    --clr-dark-blue: hsl(212, 21%, 14%);
    --clr-grayish-blue: hsl(228, 12%, 48%);
    --ft-sz-description: 14px;
    --ft-fm-montserrat: 'Montserrat',sans-serif;
    --ft-fm-fraunces: 'Fraunces',sans-serif;
    --ft-wg-500: 500;
    --ft-wg-700: 700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    text-decoration: none;
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-bg);
    width: 100vw;
    height: 100vh;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article {
    display: flex;
    flex-direction: column;
    width: clamp(300px,91.75vw,500px);
    margin-top: clamp(15px,5vw,37px);
}

.img-mobile{
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img-desktop {
    display: none;
}

.perfume {
    background-color: var(--clr-white);
    padding: 6%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.intro {
    color: var(--clr-grayish-blue);
    font-family: var(--ft-fm-montserrat);
    font-weight: lighter;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-block: 5px 10px;
}

.title {
    width: 15ch;
    color: var(--clr-dark-blue);
    font-family: var(--ft-fm-fraunces);
    font-weight: var(--ft-wg-500);
    font-size: xx-large;
    text-transform: capitalize;
    line-height: 1em;
    margin-bottom: 15px;
}

.description {
    color: var(--clr-grayish-blue);
    font-family: var(--ft-fm-montserrat);
    font-size: var(--ft-sz-description);
    font-weight: var(--ft-wg-500);
    line-height: 2em;
    margin-bottom: 40px;
}

.price {
    position: relative;
    color: var(--clr-dark-cyan);
    font-family: var(--ft-fm-fraunces);
    font-weight: var(--ft-wg-500);
    font-size: 2em;
}
.price::after {
    content: '$169.99';
    position: absolute;
    top: 15px;
    right: -75px;
    text-decoration: line-through;
    color: var(--clr-grayish-blue);
    font-family: sans-serif;
    font-weight: 200;
    font-size: 0.4em;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: var(--clr-dark-cyan);
    border-radius: 10px;
    transition: background-color 500ms;
}

.btn:hover,
.btn:focus {
    background-color: hsl(158, 36%, 24%);
}

.btn-text {
    color: var(--clr-white);
    font-family: var(--ft-fm-montserrat);
    font-weight: var(--ft-wg-700);
}


.credits {
    padding: 30px;
    text-align: center;
    line-height: 2em;
}

.credits-text,
.link {
    font-family: var(--ft-fm-fraunces);
    font-size: 18px;
    color: var(--clr-dark-cyan);
}

.link {
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: var(--clr-dark-cyan);
    transition: all 300ms ease;
}

.link:hover,
.link:focus {
    color: hsl(158, 36%, 24%);
    animation: western 1s ease;
}

a[target="_blank"]::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}




@media (min-width:750px) {

    body {
        justify-content: center;
    }

    .article {
        flex-direction: row;
        width: clamp(500px,90vw,600px);
        margin-top: 0;
    }

    .image {
        max-width: 50%;
    }

    .img-desktop{
        display: block;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .img-mobile {
        display: none;
    }

    .perfume {
        max-width: 50%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    .intro {
        margin-block-end: 20px;
    }

    .title {
        width: 12ch;
        margin-bottom: 20px;
    }

    .description {
        margin-bottom: 30px;
    }

    .btn {
        margin-top: 25px;
    }

    .credits-text,
    .link {
        font-size: 25px;
    }
}



@keyframes western {
    20% {
        transform: rotateY(20deg);
    }
    40% {
        transform: rotateY(-20deg);
    }
    60% {
        transform: rotateY(10deg);
    }
    80% {
        transform: rotateY(-10deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}